* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    color: var(--black);
}

body {
    background-color: var(--bg);
    font-size: 1.2rem;
    margin: 0;
    height: 100vh;
}

button {
    cursor: pointer;
    border-radius: 20%;
    border: none;
    background-color: var(--btn);
    color: var(--white);
    height: 48px;
    font-size: 0.9em;
    transition: .4s;
}
